.cta-container {
  display: flex;
  max-height: calc(150px + 25px);
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: #242424;
  position: relative;
}
.cta-container .text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

@media (max-width: 768px) {
  .cta-container {
    flex-direction: column;
    max-height: calc(150px + 50px);
  }
  .cta-container .action-button {
    margin-top: 15px;
  }
}
.cta-container p {
  color: #fff;
  font-size: 18px;
}
.cta-container p:nth-child(2) {
  font-weight: 700;
}

.cta-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}
.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
